# 1. Introduction
`pandas` is a data analysis library built on NumPy for working with tabular data.

Two major data types of `pandas` are:
1. `DataFrame`: A 2D data structure whose rows and columns can be labeled and its columns that can be of different data types.
2. `Series`: A 1D array of a single data type. They can be named.

#  2. Getting Dataset
Here, we will fetch a sample data set and load it into a `DataFrame`.

Let's start by importing `pandas`.

In [1]:
import pandas as pd

## 2.1 From Internet
`urllib` is a package that helps us work with URLs.

`urllib.request.urlopen` takes a URL and returns an `http.client.HTTPResponse` object. Effectively, we'll end up with a byte string holding the data of the file.

In [2]:
import urllib

iris_url = "https://raw.githubusercontent.com/aimacode/aima-data/master/iris.csv"
iris_buffer = urllib.request.urlopen(iris_url)

## 2.2 From Local Directory

In [3]:
iris_filename = 'datasets-uci-iris.csv'

## 2.3 Load into `DataFrame`
The `sep` parameter denotes what character delimits the elements of a row.

The `header` parameter indicates in which row the header will be present. If you open the file, you'll notice there is no header. Thus, we say `header=None` and define our own column labels.

The names are specified by the csv's accompanying information file, found here: https://github.com/aimacode/aima-data/blob/master/iris.txt.

To load from the filename, replace `iris_buffer` with `iris_filename`. This works because `pd.read_csv` takes a filepath or a file-like object as its first parameter, meaning that the function will recognize and handle either case appropriately.

In [4]:
iris = pd.read_csv(iris_buffer, sep = ',', header = None,
                          names = ['sepal length (cm)', 'sepal width (cm)',
                                  'petal length (cm)', 'petal width (cm)',
                                  'target'])

## 2.4 Scikit-Learn Datasets
Scikit-learn provides utilities to load popular datasets, so that we can avoid repeating boilerplate code.

`sklearn.datasets.load_iris` loads the data into a `sklearn.utils.Bunch` object by default. To get a `pandas.DataFrame` object, pass `as_frame=True` and the `data` attribute will be a `DataFrame` and the `target` attribute will be a `Series`. We can concatenate these objects into a single `DataFrame`.

In [5]:
import pandas as pd
from sklearn import datasets

iris = datasets.load_iris(as_frame = True)
iris = pd.concat([iris.data, iris.target], axis = 1)

# 3. Inspect Data

## 3.1 Basic DataFrame Info

In [6]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

## 3.2 Get first or last $n$ rows.
$n=5$ by default.

The `head` method is implemented for both `DataFrame` and `Series`.

In [7]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [8]:
iris.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## 3.3 Check Column Labels

In [9]:
iris.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')

## 3.4 Get Unique Values of Column

In [10]:
iris['target'].unique()

array([0, 1, 2])

## 3.5 Numerical Quantities
Many common operations on variables, such as `mean` or `sum`, are DataFrame methods that can be directly used on all the data, by columns (using the parameter `axis=0`, that is, `iris.sum(axis=0)` or by rows (using `axis=1`):
- `count`: The count of non-null (NaN) values
- `median`: Returns the median; that is, the 50th percentile
- `min`: The lowest value
- `max`: The highest value
- `mode`: The mode, which is the most frequently occurring value
- `var`: The variance, which measures the dispersion of the values
- `std`: The standard deviation, which is the square root of the variance
- `mad`: The mean absolute deviation, which is a way to measure the dispersion of the values robust to outliers
- `skew`: The measure of skewness, indicative of the distribution symmetry
- `kurt`: The measure of kurtosis, indicative of the distribution shape

## 3.6 Handling Missing Data

In [11]:
# Returns a boolean if the dataframe contains missing data
iris.isnull().values.any()

False

In [12]:
iris.loc[len(iris)] = pd.Series(dtype='float64') # add an empty row
iris.isnull().values.any() #

True

In [13]:
# Prints rows with missing data
iris[iris.isnull().any(axis=1)]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
150,NaN,NaN,NaN,NaN,NaN

In [14]:
# Removes all rows with missing data
iris.dropna()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [15]:
iris.loc[len(iris)] = pd.Series(dtype='float64') # add an empty row
iris.fillna(0, inplace=True) # Replaces empty data
iris.loc[150]

sepal length (cm)    0.0
sepal width (cm)     0.0
petal length (cm)    0.0
petal width (cm)     0.0
target               0.0
Name: 150, dtype: float64

## 3.7 Add Data (Rows)

In [16]:
# Add a new row with specific values
new_row = {'sepal length (cm)': 5.5, 'sepal width (cm)': 3.5, 
           'petal length (cm)': 1.3, 'petal width (cm)': 0.2, 
           'target': 15}
iris = pd.concat([iris, pd.DataFrame([new_row])], ignore_index=True)
iris.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0
150,0.0,0.0,0.0,0.0,0.0
151,0.0,0.0,0.0,0.0,0.0
152,5.5,3.5,1.3,0.2,15.0

In [17]:
# Add multiple rows at once
new_rows = pd.DataFrame([
    {'sepal length (cm)': 6.5, 'sepal width (cm)': 3.0, 
     'petal length (cm)': 5.2, 'petal width (cm)': 2.0, 'target': 2},
    {'sepal length (cm)': 5.1, 'sepal width (cm)': 3.8, 
     'petal length (cm)': 1.9, 'petal width (cm)': 0.4, 'target': 2}
])
iris = pd.concat([iris, new_rows], ignore_index=True)
iris.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
150,0.0,0.0,0.0,0.0,0.0
151,0.0,0.0,0.0,0.0,0.0
152,5.5,3.5,1.3,0.2,15.0
153,6.5,3.0,5.2,2.0,2.0
154,5.1,3.8,1.9,0.4,2.0

In [18]:
# Add row at index
iris.loc[155] = {'sepal length (cm)': 3.5, 'sepal width (cm)': 2.0, 'petal length (cm)': 3.1, 'petal width (cm)': 2.0, 'target': 0}
iris.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
151,0.0,0.0,0.0,0.0,0.0
152,5.5,3.5,1.3,0.2,15.0
153,6.5,3.0,5.2,2.0,2.0
154,5.1,3.8,1.9,0.4,2.0
155,3.5,2.0,3.1,2.0,0.0

## 3.8 Remove Data (Rows)

In [19]:
# Remove rows where 'target' is 15
iris = iris[iris['target'] != 15]
iris.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
150,0.0,0.0,0.0,0.0,0.0
151,0.0,0.0,0.0,0.0,0.0
153,6.5,3.0,5.2,2.0,2.0
154,5.1,3.8,1.9,0.4,2.0
155,3.5,2.0,3.1,2.0,0.0

In [20]:
# Reset the index after removing rows
iris = iris.reset_index(drop=True)
iris.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
150,0.0,0.0,0.0,0.0,0.0
151,0.0,0.0,0.0,0.0,0.0
152,6.5,3.0,5.2,2.0,2.0
153,5.1,3.8,1.9,0.4,2.0
154,3.5,2.0,3.1,2.0,0.0

In [21]:
# Remove a specific row (e.g., row 150)
iris = iris.drop(index=150).reset_index(drop=True)
iris.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
149,5.9,3.0,5.1,1.8,2.0
150,0.0,0.0,0.0,0.0,0.0
151,6.5,3.0,5.2,2.0,2.0
152,5.1,3.8,1.9,0.4,2.0
153,3.5,2.0,3.1,2.0,0.0

In [22]:
# Keeps first 150 rows
iris = iris.loc[:150]
iris.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0
150,0.0,0.0,0.0,0.0,0.0

# 4. Select Data

## 4.1 Masking

Masks can be created with any valid boolean operations.

In [23]:
mask = iris['sepal length (cm)'] > 6.0
mask

0      False
1      False
2      False
3      False
4      False
       ...
146     True
147     True
148     True
149    False
150    False
Name: sepal length (cm), Length: 151, dtype: bool

These masks can be used to change values.

In [24]:
# Perhaps we want to set an upper bound on these values.
iris.loc[mask, 'sepal length (cm)'] = 6.0
iris['sepal length (cm)']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
146    6.0
147    6.0
148    6.0
149    5.9
150    0.0
Name: sepal length (cm), Length: 151, dtype: float64

## 4.2 Index with Mask

In [25]:
iris.loc[mask, 'sepal length (cm)']

50     6.0
51     6.0
52     6.0
54     6.0
56     6.0
      ...
144    6.0
145    6.0
146    6.0
147    6.0
148    6.0
Name: sepal length (cm), Length: 61, dtype: float64

## 4.3 Index by Column Label(s)
Note that the subscript operator does not necessarily function in the same way that it does for a `List` or `Tuple` because it can be overridden.

Thus, `DataFrame` allows us to index by a column label.

In [26]:
iris['sepal length (cm)']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
146    6.0
147    6.0
148    6.0
149    5.9
150    0.0
Name: sepal length (cm), Length: 151, dtype: float64

Note that indexing a single Column returns a `Series`.

In [27]:
iris[['sepal width (cm)', 'petal width (cm)']]

     sepal width (cm)  petal width (cm)
0                 3.5               0.2
1                 3.0               0.2
2                 3.2               0.2
3                 3.1               0.2
4                 3.6               0.2
..                ...               ...
146               2.5               1.9
147               3.0               2.0
148               3.4               2.3
149               3.0               1.8
150               0.0               0.0

[151 rows x 2 columns]

## 4.4 Index by Column and Row Label(s)

Get the value in the column 'sepal_width' and the row 0.

Note that in our dataset, the row labels coincide with the positional indices. Know that we are indexing using the row label, not the index.

Indexing DataFrames in this way always follows the order of column, then row. This is unlike matrices where you index row, then column.

In [28]:
iris['sepal width (cm)'][0]

3.5

The `.loc` method is also label-based. This is similar to the above method of indexing using labels except we index row, then column.

In [29]:
iris.loc[0, 'sepal width (cm)']

3.5

`.iloc` exists for indexing using positional indices.

In [30]:
iris.iloc[0, 1]

3.5

## 4.5 Retrieve Submatrix

In [31]:
iris[['sepal width (cm)', 'petal width (cm)']][0:2]

   sepal width (cm)  petal width (cm)
0               3.5               0.2
1               3.0               0.2

In [32]:
iris.loc[range(2), ['sepal width (cm)', 'petal width (cm)']]

   sepal width (cm)  petal width (cm)
0               3.5               0.2
1               3.0               0.2

In [33]:
iris.iloc[range(2), [1, 3]]

   sepal width (cm)  petal width (cm)
0               3.5               0.2
1               3.0               0.2

# 5. Column Manipulation

## 5.1 Adding Columns

In [34]:
# Add a new feature as the difference between two columns
iris['new_constant'] = 42
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,new_constant
0,5.1,3.5,1.4,0.2,0.0,42
1,4.9,3.0,1.4,0.2,0.0,42
2,4.7,3.2,1.3,0.2,0.0,42
3,4.6,3.1,1.5,0.2,0.0,42
4,5.0,3.6,1.4,0.2,0.0,42

## 5.2 Removing Columns

In [35]:
# Remove a single column
iris = iris.drop(columns=['new_constant'])
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [37]:
# Remove multiple columns at once
df = iris.copy(deep=True)
df = df.drop(columns=['sepal length (cm)', 'sepal width (cm)'])
df.head()

   petal length (cm)  petal width (cm)  target
0                1.4               0.2     0.0
1                1.4               0.2     0.0
2                1.3               0.2     0.0
3                1.5               0.2     0.0
4                1.4               0.2     0.0

## 5.3 Feature Engineering

In [38]:
# Create a new feature by combining two columns (e.g., product of petal dimensions)
iris['petal_area'] = iris['petal length (cm)'] * iris['petal width (cm)']
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,petal_area
0,5.1,3.5,1.4,0.2,0.0,0.28
1,4.9,3.0,1.4,0.2,0.0,0.28
2,4.7,3.2,1.3,0.2,0.0,0.26
3,4.6,3.1,1.5,0.2,0.0,0.30
4,5.0,3.6,1.4,0.2,0.0,0.28

In [39]:
# Apply a function to modify a column (e.g., scale sepal length)
df = iris.copy(deep=True)
df['scaled_sepal_length'] = df['sepal length (cm)'] * 0.1
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,petal_area,scaled_sepal_length
0,5.1,3.5,1.4,0.2,0.0,0.28,0.51
1,4.9,3.0,1.4,0.2,0.0,0.28,0.49
2,4.7,3.2,1.3,0.2,0.0,0.26,0.47
3,4.6,3.1,1.5,0.2,0.0,0.30,0.46
4,5.0,3.6,1.4,0.2,0.0,0.28,0.50

In [40]:
# Add a feature that classifies rows based on petal length
df = iris.copy(deep=True)
df['petal_category'] = df['petal length (cm)'].apply(lambda x: 'short' if x < 3 else 'long')
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,petal_area,petal_category
0,5.1,3.5,1.4,0.2,0.0,0.28,short
1,4.9,3.0,1.4,0.2,0.0,0.28,short
2,4.7,3.2,1.3,0.2,0.0,0.26,short
3,4.6,3.1,1.5,0.2,0.0,0.30,short
4,5.0,3.6,1.4,0.2,0.0,0.28,short

## 5.4 Rowise Operations

In [41]:
# Add a new feature as the sum of all numeric features for each row
df['row_sum'] = df.iloc[:, :4].sum(axis=1)  # Sum across first four columns (features)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,petal_area,petal_category,row_sum
0,5.1,3.5,1.4,0.2,0.0,0.28,short,10.2
1,4.9,3.0,1.4,0.2,0.0,0.28,short,9.5
2,4.7,3.2,1.3,0.2,0.0,0.26,short,9.4
3,4.6,3.1,1.5,0.2,0.0,0.30,short,9.4
4,5.0,3.6,1.4,0.2,0.0,0.28,short,10.2

## 5.5 Columnwise Operations

In [42]:
# Compute the mean of each column
column_means = df.iloc[:, :4].mean(axis=0)
print(column_means)

sepal length (cm)    5.533775
sepal width (cm)     3.037086
petal length (cm)    3.733113
petal width (cm)     1.191391
dtype: float64

## 5.6 One-hot Encoding

In [43]:
# Perform one-hot encoding on the 'target' column
df_one_hot = pd.get_dummies(iris, columns=['target'], prefix='target')
df_one_hot.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),petal_area,target_0.0,target_1.0,target_2.0
0,5.1,3.5,1.4,0.2,0.28,1,0,0
1,4.9,3.0,1.4,0.2,0.28,1,0,0
2,4.7,3.2,1.3,0.2,0.26,1,0,0
3,4.6,3.1,1.5,0.2,0.30,1,0,0
4,5.0,3.6,1.4,0.2,0.28,1,0,0

# 6. Split Data
Suppose your dataset is too large to fit into your memory. `pandas` provides functionality for batching your data, where you split your data into batches to be processed.

In [44]:
import urllib

iris_url = "https://raw.githubusercontent.com/aimacode/aima-data/master/iris.csv"
iris_buffer = urllib.request.urlopen(iris_url)

# define chunksize - the number of rows per chunk/batch
iris_chunks = pd.read_csv(iris_buffer, sep = ',', header = None,
                          names = ['sepal length (cm)', 'sepal width (cm)',
                                  'petal length (cm)', 'petal width (cm)',
                                  'target'],
                          chunksize = 10)

In [45]:
for chunk in iris_chunks:
    print(chunk)
    print(chunk.shape)

    break # get just one chunk

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4
6                4.6               3.4                1.4               0.3
7                5.0               3.4                1.5               0.2
8                4.4               2.9                1.4               0.2
9                4.9               3.1                1.5               0.1

   target
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa
5  setosa
6  setosa
7  setosa
8  setosa
9  setosa
(10, 5)

# 7. Join Data

In [46]:
my_own_dataset = pd.DataFrame({'Col1': range(5),
                               'Col2': [1.0] * 5,
                               'Col3': 1.0,
                               'Col4': 'Hello World!'})
my_own_dataset

   Col1  Col2  Col3          Col4
0     0   1.0   1.0  Hello World!
1     1   1.0   1.0  Hello World!
2     2   1.0   1.0  Hello World!
3     3   1.0   1.0  Hello World!
4     4   1.0   1.0  Hello World!

## 7.1 Join Series

In [47]:
col5 = pd.Series([4, 3, 2, 1, 0], name = 'Col5')
col6 = pd.Series([0, 0, 1, 1, 1], name = 'Col6')
my_other_dataset = pd.concat([col5, col6], axis = 1)
my_other_dataset

   Col5  Col6
0     4     0
1     3     0
2     2     1
3     1     1
4     0     1

## 7.2 Join DataFrames

In [48]:
my_new_dataset = pd.concat([my_own_dataset, my_other_dataset], axis = 1)
my_new_dataset

   Col1  Col2  Col3          Col4  Col5  Col6
0     0   1.0   1.0  Hello World!     4     0
1     1   1.0   1.0  Hello World!     3     0
2     2   1.0   1.0  Hello World!     2     1
3     3   1.0   1.0  Hello World!     1     1
4     4   1.0   1.0  Hello World!     0     1

## 7.3 Merge with Database-Style Join

In [49]:
key = pd.Series([1, 2, 4], name = 'Col5')
value = pd.Series(['alpha', 'beta', 'gamma'], name = 'Col7')
reference_table = pd.concat([key, value], axis = 1)
reference_table

   Col5   Col7
0     1  alpha
1     2   beta
2     4  gamma

In [50]:
my_new_dataset.merge(reference_table,
                     on = 'Col5', how = 'left')

   Col1  Col2  Col3          Col4  Col5  Col6   Col7
0     0   1.0   1.0  Hello World!     4     0  gamma
1     1   1.0   1.0  Hello World!     3     0    NaN
2     2   1.0   1.0  Hello World!     2     1   beta
3     3   1.0   1.0  Hello World!     1     1  alpha
4     4   1.0   1.0  Hello World!     0     1    NaN

# 8. Saving to a File: TODO

In [51]:
# Don't forget the '.csv' extension
iris.to_csv('iris_dataset.csv')

# 9. References
1. S. Madhavan. (2015). Mastering Python for Data Science. Available: https://github.com/AmandaZou/Data-Science-books-/blob/master/Mastering%20Python%20for%20Data%20Science.piris
2. A. Boschetti, L. Massaron. Python Data Science Essentials. Available: https://aaronyeo.org/books_/Data_Science/Python/Python%20Data%20Science%20Essentials.piris
3. Pandas Snippets. Available: https://colab.research.google.com/notebooks/snippets/pandas.ipynb